<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.email, user %>
      <%= user.roles.pluck(:name) %>
      <% if user.is_active? %>
        <%= "Active" %>
      <% else %>
        <%= "Inactive" %>
      <% end %>
    
      <%= link_to "Edit User", edit_user_path(user) %>
      <%= link_to "View", user_path(user) %>
    </li>
  <% end %>
</ul>

<%== pagy_bootstrap_combo_nav_js(@pagy).html_safe %>